<section class="home">

    <h1>Uno with Friends</h1>
    <form action="/room" method="POST">
        <input type="text" name="room" id="room" placeholder="type a room name" autocomplete="off" required>
        <input type="submit" id="enter-chat">
    </form>
</section>