
<div class="dash-container">
  <div class="row">
      <div class="chat">
    <div id="messages"></div>   
    <form action="" id="message-form">
         <input type="text" id="input" placeholder="type a message" autocomplete="off">
        <button type="submit" id="submit">Send</button>
    </form>
</div>

  </div>  



</div>
