
<div class="dash-container">
  <h1>Space Shooter with Friends</h1>
  <div class="row">
    <div id="game"></div>
      <div class="chat">
    <div id="messages"></div>   
    <form action="" id="message-form">
         <input type="text" id="input" placeholder="type a message" autocomplete="off">
        <button type="submit" id="submit">Send</button>
    </form>
  </div>  



</div>
